@page "/"

<div class="main px-4 py-3">
    <p>Pizza cards go here. This area will scroll if necessary.</p>
    <p>
        <button class="btn btn-primary" onclick="@ShowConfigurePizzaDialog">
            Buy pizza
        </button>
    </p>
</div>

<div class="sidebar px-4 py-3">
    <p>Current order info goes here. This area will scroll if necessary.</p>
</div>

@if (showConfigurePizzaDialog)
{
    <ConfigurePizzaDialog
        Pizza="@pizza"
        OnCancel="@CancelConfigurePizzaDialog" 
        OnConfirm="@ConfirmConfigurePizzaDialog" />
}

@functions {
    bool showConfigurePizzaDialog;
    Pizza pizza;

    void ShowConfigurePizzaDialog()
    {
        // TODO: replace this with real data we show the specials on this 
        pizza = new Pizza()
        {
            Special = new PizzaSpecial()
            {
                Id = 0,
                Name = "Placeholder supreme",
                Description = "Just a placeholder, hold your horses!",
                BasePrice = 11.99m,
            },
            SpecialId = 0,
            Size = PizzaSize.Medium,
            Toppings = new List<PizzaTopping>()
            {
                new PizzaTopping()
                {
                    Topping = new Topping()
                    {
                        Name = "Donuts",
                        Price = 1.99m,
                    },
                },
            },
        };

        showConfigurePizzaDialog = true;
        StateHasChanged();
    }

    void CancelConfigurePizzaDialog()
    {
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }

    void ConfirmConfigurePizzaDialog()
    {
        pizza = null;

        showConfigurePizzaDialog = false;
        StateHasChanged();
    }
}
