@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, html {
    height: 100%;
}

form {
    width: 100%;
}

.form-group.row > .col-form-label {
    text-align: right;
}

.top-bar {
    height: 4rem;
    background-color: #651d1d;
    display: flex;
    align-items: center;
    z-index: 0;
    color: white;
}

.content {
    padding-top: 4rem;
    display: flex;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.main {
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar {
    background-color: darkgrey;
    width: 250px;
    overflow-y: auto;
}

.top-nav-tabs {
    margin: 0;
    align-self: flex-end;
    padding: 0;
    margin-left: 3rem;
}

    .top-nav-tabs a {
        margin: 0;
        padding: 0.3rem 1rem;
        display: inline-block;
        background-color: #dedede;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        color: #6f6f6f;
    }

        .top-nav-tabs a.active {
            background-color: white;
            color: black;
        }

.user-info {
    margin-left: auto;
}

    .user-info .oi {
        margin-right: 0.5rem;
    }

    .user-info .btn {
        margin-left: 1rem;
    }

.dialog-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}

.dialog {
    position: absolute;
    background-color: white;
    top: 3rem;
    left: 3rem;
    right: 3rem;
    bottom: 3rem;
    max-width: 700px;
    margin: auto;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
}

.dialog-body {
    flex-grow: 1;
}

.dialog-buttons {
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #eee;
}
