<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />
        <link href="_content/BlazingPizza.ComponentsLibrary/leaflet/leaflet.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="img/icon-512.png" />
        <HeadOutlet />
    </head>
    <body>
        <Routes />
        <script src="_framework/blazor.web.js"></script>
        <script src="_content/BlazingPizza.ComponentsLibrary/pushNotifications.js"></script>
        <script src="_content/BlazingPizza.ComponentsLibrary/deliveryMap.js"></script>
        <script src="_content/BlazingPizza.ComponentsLibrary/leaflet/leaflet.js"></script>
    </body>
</html>
