@inherits BlazorLayoutComponent

<div class="fixed-top top-bar container-fluid px-5">
    <img class="logo" src="img/logo.svg" />
            
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" />
        <div>My Orders</div>
    </NavLink>

    <div class="user-info">
        <img src="img/user.svg" />
        <div>
            <span class="username">Username</span>
            <a href="#">Log out</a>
        </div>
    </div>
</div>

<div class="content">
    @Body
</div>
