@inherits BlazorLayoutComponent

<div class="fixed-top top-bar container-fluid px-4">
    <h3>Blazing Pizza</h3>
    <div class="top-nav-tabs">
        <NavLink href="" Match="NavLinkMatch.All">Get Pizza</NavLink>
        <NavLink href="myorders">My Orders</NavLink>
    </div>
</div>
<div class="content">
    @Body
</div>
