<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Message</h2>
        </div>
    </div>
</div>

@functions {
    [Parameter] string Message { get; set; }
}
